In [1]:
import pandas as pd
import numpy as np

In [3]:
ser = pd.Series(data)

In [4]:
print(ser)

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [2]:
data = np.array([1,2,3,4,5])

# creating dataframe

In [5]:
import pandas as pd

In [11]:
DataFrame = pd.DataFrame(list)

In [9]:
list=[[1,2,3,4,5,6],
      ['manoj','vikaS','abhishek','jack','vimal','pop'],
     [12,14,12,45,78,96]]

In [10]:
print(DataFrame)

       0      1     2     3      4    5
0      1      2     3     4      5    6
1  manoj  vikaS  abhi  jack  vimal  pop
2     12     14    12    45     78   96

# pandas Documentation

In [12]:
import numpy as np
import pandas as pd

In [13]:
ser = pd.Series(np.random.randn(5), index=[1,2,3,4,5])

In [14]:
print(ser)

1   -0.066802
2    1.310688
3    0.705676
4    0.228890
5   -2.016906
dtype: float64

In [15]:
ser.index

Int64Index([1, 2, 3, 4, 5], dtype='int64')

# dict values in series

In [16]:
dict = {"a":1, "b": 2, "c":3}

In [17]:
pd.Series(dict)

a    1
b    2
c    3
dtype: int64

# DataFRame making

In [18]:
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
    }

In [19]:
DataFrame = pd.DataFrame(d)

In [20]:
DataFrame

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [21]:
DataFrame.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [22]:
DataFrame.columns

Index(['one', 'two'], dtype='object')

In [23]:
data= [(1, 2.0, "Hello"), (2, 3.0, "World"),(3,4.0,"manoj")]

In [24]:
DataFrame = pd.DataFrame(data)

In [25]:
DataFrame

   0    1      2
0  1  2.0  Hello
1  2  3.0  World
2  3  4.0  manoj

In [26]:
DataFrame.index

RangeIndex(start=0, stop=3, step=1)

In [27]:
DataFrame.columns

RangeIndex(start=0, stop=3, step=1)

# NamedTuple In DATAFRAME

In [28]:
from collections import namedtuple

In [29]:
Point = namedtuple("Point", "x y")

In [30]:
df=pd.DataFrame([Point(0, 0), Point(0, 3), (2, 3)])

In [31]:
df

   x  y
0  0  0
1  0  3
2  2  3

In [32]:
df["x"]*df["y"]

0    0
1    0
2    6
dtype: int64

In [33]:
del df["x"]

# example

In [34]:
import pandas as pd
import numpy as np

In [35]:
dataset = pd.read_csv('marks.csv')

In [36]:
dataset

  hrs  marks
0   3   30.0
1   7   70.0
2   2   20.0
3   8   80.0
4   a    NaN

In [37]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   hrs     5 non-null      object
 1   marks   4 non-null      float64
dtypes: float64(1), object(1)
memory usage: 208.0+ bytes

In [38]:
dataset.head()

  hrs  marks
0   3   30.0
1   7   70.0
2   2   20.0
3   8   80.0
4   a    NaN

In [39]:
y = dataset['marks']

In [40]:
x = dataset['hrs']

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X,y)

In [ ]:
model.coef_

model.predict([[9]])

# pandas Basic

In [5]:
conda install --force scikit-learn

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\manoj\anaconda3

  added / updated specs:
    - scikit-learn



Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working...

    Windows 64-bit packages of scikit-learn can be accelerated using scikit-learn-intelex.
    More details are available here: https://intel.github.io/scikit-learn-intelex

    For example:

        $ conda install scikit-learn-intelex
        $ python -m sklearnex my_application.py


done

Note: you may need to restart the kernel to use updated packages.

WARNING: The --force flag will be removed in a future conda release.
         See 'conda install --help' for details about the --force-reinstall
         and --clobber flags.