In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('diabetes.csv')

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [4]:
dataset

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [7]:
y = dataset['Outcome']

In [11]:
X = dataset[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']]

In [12]:
X.shape

(768, 8)

In [13]:
from keras.models import Sequential

In [14]:
model = Sequential()

In [15]:
model.get_config()

{'layers': [], 'name': 'sequential'}

In [16]:
from keras.layers import Dense

In [21]:

model.add(
    Dense(
        units = 5,
        bias_initializer='zeros',
        kernel_initializer='zeros',
        input_shape=(8,),
        activation='relu'
    )
)

In [19]:
model.get_config()

{'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 8),
    'dtype': 'float32',
    'name': 'dense_input',
    'ragged': False,
    'sparse': False}},
  {'class_name': 'Dense',
   'config': {'activation': 'relu',
    'activity_regularizer': None,
    'batch_input_shape': (None, 8),
    'bias_constraint': None,
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_regularizer': None,
    'dtype': 'float32',
    'kernel_constraint': None,
    'kernel_initializer': {'class_name': 'GlorotUniform',
     'config': {'seed': None}},
    'kernel_regularizer': None,
    'name': 'dense',
    'trainable': True,
    'units': 5,
    'use_bias': True}},
  {'class_name': 'Dense',
   'config': {'activation': 'relu',
    'activity_regularizer': None,
    'batch_input_shape': (None, 8),
    'bias_constraint': None,
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_regularizer': None,
    'dtype': 'float32',
    'kernel_constraint': None,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'name': 'dense_1',
    'trainable': True,
    'units': 5,
    'use_bias': True}}],
 'name': 'sequential'}

In [20]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 45

 dense_1 (Dense)             (None, 5)                 30

=================================================================
Total params: 75
Trainable params: 75
Non-trainable params: 0
_________________________________________________________________

In [22]:
model.add(
    Dense(
        units = 5,
        bias_initializer='zeros',
        kernel_initializer='zeros',
        input_shape=(8,),
        activation='relu'
    )
)

In [31]:
model.add(
    Dense(
        units = 5,
        bias_initializer='zeros',
        kernel_initializer='zeros',
        input_shape=(8,),
        activation='relu'
    )
)

In [32]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 45

 dense_1 (Dense)             (None, 5)                 30

 dense_2 (Dense)             (None, 5)                 30

 dense_3 (Dense)             (None, 5)                 30

 dense_4 (Dense)             (None, 5)                 30

 dense_5 (Dense)             (None, 5)                 30

 dense_6 (Dense)             (None, 5)                 30

=================================================================
Total params: 225
Trainable params: 225
Non-trainable params: 0
_________________________________________________________________

In [33]:
model.compile(loss="binary_crossentropy", optimizer="adam")

In [34]:
model.fit(X,y)

24/24 [==============================] - 1s 2ms/step - loss: 5.3827